<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h2>Welcome to the home page!</h2>
    <hr>
    <p>
        <!-- used the security authentication to access the username and the roles-->
        User: <span sec:authentication="principal.username"></span>
        <br><br>
        Role(s): <span sec:authentication="principal.authorities"></span>
    </p>
    <form action="#" method="post" th:action="@{/logout}">
        <input type="submit" value="Logout">
    </form>

</body>

</html>